<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Ingresa un producto</h1> 
    
    <form action="/ingresar" method="post">
        nombre:<input type="text" name="nom" id="nom"><br>
        precio: <input type="number" name="pre" id="pre"><br>
        descripcion: <input type="text" name="des" id="des"><br>

        <input type="submit" value="enviar">

    </form>
    
</body>
</html>