<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor</title>
    <link rel="stylesheet" href="/inicio.css">
</head>
<body>

    <h1>Bienvenidos al Servidor Node.Js</h1>
    <a href="/productos" class="button-link">Ver Productos</a>
    <a href="/formulario" class="button-link">Ingresar Productos</a>

</body>
</html>
